<navbar>

  <slot-content>
    <h1>Usuarios</h1>

    <div class="block">
      <div class="flex w-full">
        <div></div>
        <div class="ml-auto">
          <button pButton class="btn-add" [disabled]="userSelected" (click)="addUser()"> Agregar usuario</button>
        </div>
      </div>

      <div class="p-card mt-2 pb-5">
        <user-simple-selector [users]="users" [showIds]="true" (eventUserSelected)="onUserSelected($event)"
          (eventUserUnselected)="onUserUnselected()"></user-simple-selector>


        <div class="mt-5 px-4 block" *ngIf="userSelected &&  actionSelected != 'permissions' && actionSelected != 'roles'">
          <h3>Acciones</h3>

          <div class="block">
            <div class="mt-2">
              <button pButton class="btn-action" (click)="editUser()" [disabled]="userDisabled">
                Editar usuario</button>
            </div>
            <div class="mt-2">
              <button pButton class="btn-action" (click)="configRoles()" [disabled]="userDisabled">
                Configurar roles</button>
            </div>
            <div class="mt-2">
              <button pButton class="btn-action" (click)="configPermissions()" [disabled]="userDisabled">
                Configurar permisos</button>
            </div>
            <div class="mt-2">
              <button pButton class="btn-action btn-danger" (click)="disableUser()" *ngIf="!userDisabled">
                Deshabilitar usuario</button>
            </div>
            <div class="mt-2">
              <button pButton class="btn-add" (click)="enableUser()" *ngIf="userDisabled">
                Habilitar usuario </button>
            </div>
          </div>

        </div>

        <div *ngIf="actionSelected" style="padding: 0 25px;">
          <hr />
        </div>

        <div *ngIf="actionSelected==='permissions'">
          <permissions-picker [assigned]="permissionsAssigned" [unassigned]="permissionsUnassigned"
            (eventFinalized)="savePermissionsAssigned($event)"></permissions-picker>
        </div>

        <div *ngIf="actionSelected==='roles'">
          <permissions-picker [assigned]="rolesAssigned" [unassigned]="rolesUnassigned"
            (eventFinalized)="saveRoleAssigned($event)"></permissions-picker>
        </div>

      </div>
    </div>

  </slot-content>
</navbar>
