<div class="body-login">
  <div class="login-wrapper">
    <div class="login-box p-shadow-16 p-text-center">

      <div class="w-100 mb-2 text-center title">
        <div class="w-full | logo-container">
          <div class="w-full | text-center">
            <img [src]="logo" alt="" class="m-auto" width="80%" style="max-height: 200px;">
          </div>
        </div>
      </div>

      <div class="container-form">

        <form [formGroup]="loginForm" class="login-form">
          <div class="p-fluid">
            <div class="p-field p-col-12 p-mt-1">
              <span class="p-float-label">
                <input pInputText #inputEmail type="email" formControlName="username">
                <label for="float-input">Usuario</label>
              </span>
            </div>

            <div class="p-field p-col-12 p-mt-1">
              <span class="p-float-label">
                <p-password formControlName="password" [feedback]="false" [toggleMask]="true"></p-password>
                <label for="float-input">Contraseña</label>
              </span>
            </div>

          </div>

          <div class="p-d-flex p-mt-5">
            <div></div>
            <div class="p-ml-auto">
              <p-button #btnLogin (click)="login()" type="submit" [loading]="isLoadingRegistrarse" label="Ingresar"
                [disabled]="loginForm.invalid || disableBtnSubmit"> </p-button>
            </div>
          </div>
        </form>
      </div>

    </div>
  </div>
</div>

<p-toast position="bottom-center"></p-toast>
