@use "../../../../../themes.scss" as *;

.body-login {
  width: 100vw;
  height: 100vh;
  // background: var(--primary-color);
  // background: linear-gradient(
  //   180deg,
  //   var(--primary-color) 0%,
  //   var(--primary-color) 40%,
  //   var(--body-color) 41%,
  //   #ffffff 100%
  // );
  background: var(--primary-color);
  background: linear-gradient(180deg, var(--primary-color) 0%, var(--body-color-darker) 40%, var(--body-color) 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-wrapper {
  margin: auto;
  min-width: 350px;
  width: 96%;
  display: flex;
}

.login-box {
  margin: 0 auto;
  padding: 60px 50px 40px 50px;
  background: #ffffff;
  border-radius: 18px;
  max-width: 450px;
}

.btn-login {
  font-size: 22px;
  width: 100%;
  color: #ffffff;
  background-color: var(--primary-color);
}

.title {
  text-align: center;
}

.forget-password-btn {
  font-size: small;
  color: grey;
  margin-top: -5px;
  cursor: pointer;
}

.forget-password-btn:hover {
  color: rgb(38, 38, 84);
}

.mat-card-header-text {
  margin: 0;
}

.toast-danger {
  background-color: var(--primary-danger) !important;
  border-color: var(--primary-danger) !important;
  color: #ffffff !important;
}

.toast-success {
  background-color: var(--primary-success) !important;
  border-color: var(--primary-success) !important;
  color: #ffffff !important;
}
