.p-button.p-button-icon-only.p-button-rounded.btn-sm {
  height: 0.5rem !important;
  width: 2rem !important;
}
.btn-sm > span {
  font-size: 0.5rem;
}
.btn-add {
  background-color: var(--color-add) !important;
  border-color: var(--color-add) !important;
}
.btn-add:hover {
  background-color: var(--color-add-dark) !important;
}
.btn-action {
  background-color: var(--color-action) !important;
  border-color: var(--color-action) !important;
}
.btn-action:hover {
  background-color: var(--color-action-dark) !important;
}
.btn-primary {
  background-color: var(--primary-color) !important;
  border-color: var(--primary-color) !important;
}
.btn-primary:hover {
  background-color: var(--primary-dark) !important;
}
.btn-danger {
  background-color: var(--color-danger) !important;
  border-color: var(--color-danger) !important;
}
.btn-danger:hover {
  background-color: var(--pink-900) !important;
}
