<p-table [paginator]="!loading && clients.length > rows" [rows]="rows" [showCurrentPageReport]="!loading"
  styleClass="p-datatable-sm" currentPageReportTemplate="Mostrando {first} de {last} de {totalRecords} items"
  [rowsPerPageOptions]="[5,10,25,50]" [value]="clients" selectionMode="single" dataKey="id"
  (onRowSelect)="onRowSelect()" [loading]="loading">

  <ng-template pTemplate="header">
    <tr>
      <th style="border-top-left-radius: 8px;">Cliente</th>
      <th>Teléfonos</th>
      <!-- <th>Dirección</th> -->
      <th>Documento</th>
      <th>Correo eléctronico</th>
      <th>Observaciones</th>
      <th style="border-top-right-radius: 8px;">Acciones</th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-client>
    <tr [pSelectableRow]="clientSelected" (auxclick)="auxclick(client)" (dblclick)="dblclick(client)">
      <td>
        <div class="w-full flex">
          <div class="mr-2">
            <button pButton type="button" icon="pi pi-info" class="p-button-rounded p-button-info p-mr-2 btn-sm"
              (click)="showInfo(client)" title="Ver información del cliente"></button>
          </div>
          <div>
            <a [routerLink]="['/cuentas-corrientes/'+client.slug]"></a> {{client.lastName}} {{client.firstName}}
          </div>
        </div>
      </td>
      <td>
        <div class="d-block">
          <div *ngIf="client.phoneNumber">Tel.: {{client.phoneNumber }}</div>
          <div *ngIf="client.phoneNumberAlt">Tel.:{{client.phoneNumberAlt }}</div>
        </div>
      </td>
      <!-- <td>{{client.addressName ? client.addressName : ""}}
        {{client.addressNumber ? client.addressName ? client.addressNumber :"" : ""}}</td> -->
      <td>{{client.documentNumber ? client.documentNumber : ""}}</td>
      <td>{{client.email ? client.email : ""}}</td>
      <td> {{ client.observations ? client.observations : ""}} </td>
      <td>
        <div class="w-full align-items-center inline-flex gap-1">
          <button pButton type="button" icon="pi pi-pencil" class="p-button-rounded p-button-info p-mr-2 btn-sm"
            (click)="editClient(client)" title="Editar cliente"></button>
          <button pButton type="button" icon="pi pi-times" class="p-button-rounded p-button-danger btn-sm"
            (click)="deleteClient(client)" title="Eliminar cliente"></button>
        </div>
      </td>
    </tr>
  </ng-template>

  <ng-template pTemplate="emptymessage">
    <tr>
      <td colspan="7">
        <div class="w-full py-4 text-center">No hay clientes.</div>
      </td>
    </tr>
  </ng-template>

  <ng-template pTemplate="footer"></ng-template>
</p-table>
