<nb-layout>
  <nb-layout-column style="padding: 0;">
    <div class="body-login">

      <div class="login-wrapper">

        <nb-card class="login-box" *ngIf="!responseMessage">
          <nb-card-header>
            <div class="w-100 mb-2 text-center title ">
              <div class="w-full">
                <div class="w-full | text-center">
                </div>
                <span class="mt-2 | uppercase text-center text-bold fs-4">
                  Ingresa tu correo para recuperar tu contraseña
                </span>
              </div>
            </div>
          </nb-card-header>

          <nb-card-body style="padding: 3px;">
            <form [formGroup]="restoreForm" class="login-form">
              <div class="mt-4 mb-3 text-center">
                <input class="form-control text-center" type="email" placeholder="pepito@correo.com" formControlName="email" />
              </div>

              <div class="mt-5">
                <div *ngIf="disableBtnSubmit" class="text-center">
                  <img [src]="loading" alt="" width="50">
                </div>
                <button *ngIf="!disableBtnSubmit" class="btn btn-login" (click)="sendMail()" type="submit"
                  [disabled]="restoreForm.invalid || disableBtnSubmit || isLoadingRegistrarse"> Recuperar contraseña
                </button>
              </div>
            </form>
          </nb-card-body>
        </nb-card>

        <nb-card class="login-box" *ngIf="responseMessage">
          <nb-card-body class="text-center" style="padding: 3px;">
            <h3> {{ responseMessage }}</h3>
            <button class="btn btn-login mt-5" [routerLink]="['/login']">Ir a login</button>
          </nb-card-body>
        </nb-card>


      </div>

    </div>
  </nb-layout-column>
</nb-layout>
