<div class="container-chat" [class]="{'chat-expanded' : display, 'chat-collapsed': !display}"
  [style]="{'zoom': zoom + '%'}">
  <div class="contacts">
    <i class="fas fa-bars fa-2x"></i>
    <h2>
      Contacts
    </h2>
    <div class="contact">
      <div class="pic rogers"></div>
      <div class="badge">
        14
      </div>
      <div class="name">
        Steve Rogers
      </div>
      <div class="message">
        That is America's ass 🇺🇸🍑
      </div>
    </div>
    <div class="contact">
      <div class="pic stark"></div>
      <div class="name">
        Tony Stark
      </div>
      <div class="message">
        Uh, he's from space, he came here to steal a necklace from a wizard.
      </div>
    </div>
    <div class="contact">
      <div class="pic banner"></div>
      <div class="badge">
        1
      </div>
      <div class="name">
        Bruce Banner
      </div>
      <div class="message">
        There's an Ant-Man *and* a Spider-Man?
      </div>
    </div>
    <div class="contact">
      <div class="pic thor"></div>
      <div class="name">
        Thor Odinson
      </div>
      <div class="badge">
        3
      </div>
      <div class="message">
        I like this one
      </div>
    </div>
    <div class="contact">
      <div class="pic danvers"></div>
      <div class="badge">
        2
      </div>
      <div class="name">
        Carol Danvers
      </div>
      <div class="message">
        Hey Peter Parker, you got something for me?
      </div>
    </div>
  </div>
  <div class="chat">
    <div class="contact bar" (click)="display=!display">
      <div class="pic stark"></div>
      <div class="name">
        Tony Stark
      </div>
      <div class="seen">
        Today at 12:56
      </div>
    </div>
    <div class="messages" id="chat">
      <div class="time">
        Today at 11:41
      </div>
      <div class="message me">
        Hey, man! What's up, Mr Stark? 👋
      </div>
      <div class="message">
        Kid, where'd you come from?
      </div>
      <div class="message me">
        Field trip! 🤣
      </div>
      <div class="message me">
        Uh, what is this guy's problem, Mr. Stark? 🤔
      </div>
      <div class="message">
        Uh, he's from space, he came here to steal a necklace from a wizard.
      </div>
      <!-- <div class="message stark">
        <div class="typing typing-1"></div>
        <div class="typing typing-2"></div>
        <div class="typing typing-3"></div>
      </div> -->
    </div>
    <div class="input">
      <!-- <i class="fas fa-camera"></i> -->
      <i class="far fa-laugh-beam"></i>
      <form [formGroup]="chatForm" (ngSubmit)="onSubmitChatForm">
        <input placeholder="Escribe tu mensaje aquí!" type="text" formControlName="message"
          (keypress)="keyPress($event)" />
        <i class="fas fa-microphone" style="color: white;"></i>
        <button type="submit" style="visibility: hidden"></button>
      </form>
    </div>
  </div>

</div>
