<div class="block">
  <div class="flex align-items-center">
    <div>Nombre: <b> {{ client.firstName }}</b></div>
  </div>
  <div class="flex align-items-center">
    <div>Apellido: <b> {{ client.lastName }}</b></div>
  </div>
  <div class="flex align-items-center">
    <div>businessName: <b> {{ client.businessName }}</b></div>
  </div>
  <div class="flex align-items-center">
    <div>phoneNumber: <b> {{ client.phoneNumber }}</b></div>
  </div>
  <div class="flex align-items-center">
    <div>phoneNumberAlt: <b> {{ client.phoneNumberAlt }}</b></div>
  </div>
  <div class="flex align-items-center">
    <div>addressName: <b> {{ client.addressName }}</b></div>
  </div>
  <div class="flex align-items-center">
    <div>addressNumber: <b> {{ client.addressNumber }}</b></div>
  </div>
  <div class="flex align-items-center">
    <div>addressFlat: <b> {{ client.addressFlat }}</b></div>
  </div>
  <div class="flex align-items-center">
    <div>addressDepartment: <b> {{ client.addressDepartment }}</b></div>
  </div>
  <div class="flex align-items-center">
    <div>addressLocation: <b> {{ client.addressLocation }}</b></div>
  </div>
  <div class="flex align-items-center">
    <div>documentType: <b> {{ client.documentType }}</b></div>
  </div>
  <div class="flex align-items-center">
    <div>documentNumber: <b> {{ client.documentNumber }}</b></div>
  </div>
  <div class="flex align-items-center">
    <div>taxpayerType: <b> {{ client.taxpayerType }}</b></div>
  </div>
  <div class="flex align-items-center">
    <div>observations: <b> {{ client.observations }}</b></div>
  </div>
  <div class="flex align-items-center">
    <div>observationsAlt: <b> {{ client.observationsAlt }}</b></div>
  </div>
</div>
